<section class="about_page">
  <div class="abput_page_main" style="background-image: url({{ section.settings.main_banner| img_url: 'master' }});">
    <div class="container">
      <div class="about_page_heding">
        <h2>{{ section.settings.heading }}</h2>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="service_top">
  <div class="service_bg">
    <div class="service_top">
      <div class="shirt_left">
        <img src="{{ section.settings.kitchen_shirt_image| img_url: 'master' }}">
      </div>
      <div class="services_txt_mid">
        <h2>{{ section.settings.kitchen_title }}</h2>
        <p>{{ section.settings.kitchen_details }}</p>
        <div class="servic_link">
          <a class="h_menu" href="{{ section.settings.kitchen_link }}"> {{ section.settings.kitchen_btn }}
            <span>
              <img src="{{'service-link.png' | asset_url }}">
            </span>
          </a>
        </div>
      </div>
      <div class="hidden-xs">
        <div class="serive_right_page">
          <img src="{{ section.settings.kitchen_dress | img_url: 'master' }}">
        </div>
      </div>
      <div class="visible-xs">
        <div class="serive_right_page">
          <img src="{{ section.settings.kitchen_dress_mobile  | img_url: 'master' }}">
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<section class="service_two">
  <div class="container">
    <div class="service_two_one">
      <div class="shirt_service">
        {% for block in section.blocks %}
        {% if block.type == 'service_one' %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        <div class="">
          <div class="shirt_service_one">
            <a  href="">
              <img class="hidden-xs" src="{{ block.settings.service_one_desktop | img_url: 'master' }}">
              <img class="visible-xs" src="{{ block.settings.service_one_mobile | img_url: 'master' }}">
              <div class="shirt_txt">
                <h4>{{ block.settings.service_name }}</h4>
              </div>
            </a>
          </div>
        </div>
        {% else %}
        <div class="">
          <div class="shirt_service_two">
            <a href="">
              <img class="hidden-xs" src="{{ block.settings.service_one_desktop | img_url: 'master' }}">
              <img class="visible-xs" src="{{ block.settings.service_one_mobile | img_url: 'master' }}">
              <div class="shirt_txt">
                <h4>{{ block.settings.service_name }}</h4>
              </div>
            </a>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
      <div class="shirt_service_main_one">
        {% for block in section.blocks %}
        {% if block.type == 'service_two' %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        <div class="">
          <div class="shirt_service_one">
            <a href="">
              <img class="hidden-xs" src="{{ block.settings.service_two_desktop | img_url: 'master' }}">
              <img class="visible-xs" src="{{ block.settings.service_two_mobile | img_url: 'master' }}">
              <div class="shirt_txt">
                <h4>{{ block.settings.service_name }}</h4>
              </div>
            </a>
          </div>
        </div>
        {% else %}
        <div class="">
          <div class="shirt_service_two">
            <a href="">
              <img class="hidden-xs" src="{{ block.settings.service_two_desktop | img_url: 'master' }}">
              <img class="visible-xs" src="{{ block.settings.service_two_mobile | img_url: 'master' }}">
              <div class="shirt_txt">
                <h4>{{ block.settings.service_name }}</h4>
              </div>
            </a>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="more_collection">
  <div class="more_collection_main">
    <div class="container">
      <div class="row">
        <div class="this_collection">
          <h4>{{ section.settings.our_service }}</h4>
        </div>
        <div class="collection_slider">
          <div>
            {%- assign collection_me = collections[section.settings.collection_select] -%}
            {% for product in collection_me.products  %}
            <div class="col-3 col-md3 col-sm-3 col-xs-12">
              <div class="collection_one_slid">
                {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
                {%- for image in product.images -%}
                <div class="product-single__photo product__photo-container product__photo-container-{{ section.id }} js{% unless image == featured_image %} hide{% endunless %}"
                     id="ProductPhoto"
                     style="max-width: {% include 'image-width' with image: image, width: 480 %}px;"
                     data-image-id="{{ image.id }}">
                  <a href="{{ image | img_url: '1024x1024' }}"
                     class="js-modal-open-product-modal product__photo-wrapper product__photo-wrapper-{{ section.id }}"
                     style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                    {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="lazyload {% unless image == featured_image %} lazypreload{% endunless %}"
                         src="{{ image | img_url: '1024x' }}"
                         data-src="{{ img_url }}"
                         data-widths="[180, 240, 360, 480, 720, 960, 1080, 1296, 1512, 1728, 2048]"
                         data-aspectratio="{{ image.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ image.alt | escape }}">
                  </a>
                </div>
                {%- endfor -%}
                <noscript>
                  <a href="{{ featured_image | img_url: '1024x1024' }}">
                    <img src="{{ featured_image | img_url: product_image_size }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg-{{ section.id }}">
                  </a>
                </noscript>
                {% if settings.enable_wishlsit %}
                <span data-tooltip="true" class="js-btn-wishlist" title="{{ 'products.product.wishlist_text' | t }}" data-handle="{{product.handle}}"></span>
                {% endif %}
                {% if settings.enable_compare %}
                <span class="btn js-btn-compare" title="{{ 'products.product.compare_text' | t }}" data-handle="{{product.handle}}">
                  {%- include 'icon-exchange' -%}
                  {%- include 'icon-close' -%}
                </span>
                {% endif %}
                <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
                <h5>{{ product.price | money }}
                  <span>{{ product.compare_at_price | money }}</span>
                </h5>
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
                    {% if option.name == 'Color' %}
                      {% capture col %} 
                        {% for value in option.values %}
                      	  {{ value }},
                        {% endfor %}
                      {% endcapture %}
                    {% endif %}
                  {% endfor %}
                {% endunless %}
                {% if product.type contains 'color' and product.available %}
                {% include 'swatch-lip' with col  %}
                {% endif %}            
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
{% schema %}
  {
    "name": "Page Bespoke",
    "settings": [
      {
        "id": "main_banner",
        "type": "image_picker",
        "label": "Main Banner Image"
      },    
      {
        "id": "heading",
        "type": "text",
        "label": "Main Heading",
        "default": "Kitchen"
      },
      {
        "id": "kitchen_shirt_image",
        "type": "image_picker",
        "label": "Kitchen Shirt Image"
      },    
      {
        "id": "kitchen_title",
        "type": "text",
        "label": "Kitchen Title",
        "default": "Kitchen"
      },  
      {
        "id": "kitchen_details",
        "type": "textarea",
        "label": "Kitchen Details",
        "default": "Timeless and superbly tailored styles for servers offer the perfect foundational elements for image wear. The Service collection is inspired by architectural and industrial elegance, striking the perfect balance with more customized, signature details. Each garment is created with premium textiles and meticulous artisanal quality and care, and is therefore able to withstand the rigorous demands of day-to-day use without sacrificing beauty and presentation."
      },  
      {
        "id": "kitchen_btn",
        "type": "text",
        "label": "Kitchen btn Label",
        "default": "SEE THIS PRODUCT "
      },  
      {
        "id": "kitchen_link",
        "type": "url",
        "label": "Button Link"
      },
      {
        "id": "kitchen_dress",
        "type": "image_picker",
        "label": "Kitchen Dress Image"
      },
      {
        "id": "kitchen_dress_mobile",
        "type": "image_picker",
        "label": "Kitchen Dress Image Mobile"
      },
      {
        "id": "our_service",
        "type": "text",
        "label": "Our Service Product ",
        "default": " Our service products"
      },
      {
        "id": "collection_select",
        "type": "collection",
        "label": "Select Collection"
      }		
],
	"blocks": [
      {
        "type": "service_one",
        "name": "Service One",
        "settings": [ 
          {
          "id": "service_one_desktop",
          "type": "image_picker",
          "label": "Service One Desktop"
          },    
          {
          "id": "service_one_mobile",
          "type": "image_picker",
          "label": "Service One Mobile Image"
          },	
          {
          "id": "service_name",
          "type": "text",
          "label": "Service Name",
          "default": "Apron"
          }
        ]
      },
	   {
        "type": "service_two",
        "name": "Service Two",
        "settings": [
          {
          "id": "service_two_desktop",
          "type": "image_picker",
          "label": "Service Two Desktop"
          },    
          {
          "id": "service_two_mobile",
          "type": "image_picker",
          "label": "Service Two Mobile Image"
          },	
          {
          "id": "service_name",
          "type": "text",
          "label": "Service Name",
          "default": "Apron"
          }
        ]
      }
    ]
  }
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
